* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  /* border: 4px solid black; */
  overflow-x: hidden;
  width: 100%;
  
  
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 95%;

  /* border: 1px dashed red; */

}